11/19 

Given 2 strings, a and b, return a string of the form short+long+short, with the shorter string on the outside and the longer string on the inside. The strings will not be the same length, but they may be empty (length 0).

combo_string('Hello', 'hi') → 'hiHellohi'
combo_string('hi', 'Hello') → 'hiHellohi'
combo_string('aaa', 'b') → 'baaab'

In [2]:
def combo_string(a, b):
    if len(a) > len(b):
        return b + a + b
    else:
        return a + b + a

In [3]:
combo_string('hi', 'hello')

'hihellohi'

11/20 
Given an integer, , perform the following conditional actions:

If n is odd, print Weird

If n is even and in the inclusive range of 2 to 5, print Not Weird

If n is even and in the inclusive range of 6 to 20, print Weird

If n is even and greater than 20, print Not Weird

In [4]:
#!/bin/python

import math
import os
import random
import re
import sys


def weird(n):
    if n % 2 != 0:
        print('Weird')
    else:
        if n in range(2,6):
            print('Not Weird')
        if n in range(6, 21):
            print('Weird')
        if n > 20:
            print('Not Weird')

 
Return the number of even ints in the given array. Note: the % "mod" operator computes the remainder, e.g. 5 % 2 is 1.


count_evens([2, 1, 2, 3, 4]) → 3
count_evens([2, 2, 0]) → 3
count_evens([1, 3, 5]) → 0

In [5]:
def count_evens(nums):
    count = 0
    for number in nums:
        if number % 2 == 0:
            count = count + 1
    return count

In [6]:
count_evens([2, 4, 1, 3, 2, 2, 5])

4


Given an array of ints length 3, return a new array with the elements in reverse order, so {1, 2, 3} becomes {3, 2, 1}.


reverse3([1, 2, 3]) → [3, 2, 1]
reverse3([5, 11, 9]) → [9, 11, 5]
reverse3([7, 0, 0]) → [0, 0, 7]

In [7]:
def reverse3(nums):
    return nums[::-1]


Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 7 (every 6 will be followed by at least one 7). Return 0 for no numbers.


sum67([1, 2, 2]) → 5
sum67([1, 2, 2, 6, 99, 99, 7]) → 5
sum67([1, 1, 6, 7, 2]) → 4

In [8]:
list_of_nums = [1, 2, 2, 6, 99, 7, 2]
def sum67(nums):
    if 6 in nums:
        start = nums.index(6)
        end = nums.index(7)
        return sum(nums[:start]) + sum(nums[end+1:])
    else:
        return(sum(nums))

In [9]:
sum67(list_of_nums)

7


Write a program that outputs the string representation of numbers from 1 to n.

But for multiples of three it should output “Fizz” instead of the number and for the multiples of five output “Buzz”. For numbers which are multiples of both three and five output “FizzBuzz”.

In [10]:
n = 15
def fizzBuzz(n):
    nums = []
    for number in range(1,n+1):
        if number % 3 == 0 and number % 5 == 0:
            number = 'FizzBuzz'
            nums.append(number)
        elif number % 3 == 0:
            number = 'Fizz'
            nums.append(number)
        elif number % 5 == 0:
            number = 'Buzz'
            nums.append(number)
        else:
            nums.append(number)
    return nums

In [11]:
fizzBuzz(n)

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz']


We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February.
In the Gregorian calendar three criteria must be taken into account to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.

In [12]:
def is_leap(year):
    leap = False
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                leap = True
            else:
                leap = False
        else:
            leap = True
    else:
        leap = True
        
        
    return leap

# 
Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. Go to the editor
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
Expected Output:
attempts name qualify score
a 1 Anastasia yes 12.5
b 3 Dima no 9.0
.... i 2 Kevin no 8.0
j 1 Jonas yes 19.0

In [44]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']} 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

def dataframe(dictionary, labels):
    df = pd.DataFrame(dictionary, index=labels)
    return df
             
             
             
dataframe(exam_data, labels)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

# Roman Numeral Conversion

In [45]:
I = 1
V = 5
X = 10
L = 50
C = 100
D = 500
M = 1000

In [136]:
roman_dictionary = {1:'I', 5:'V', 10:'X', 50:'L', 100:'C', 500:'D', 1000:'M'}
def roman(n):
    # categorizes n into how many digits, then uses correct corresponding numeral for 5 and 10 place.
    digits = len(str(n))
    five = roman_dictionary[int('5' + ('0' * (digits-1)))]
    ten = roman_dictionary[int('10' + ((digits-1)*'0'))]
    
    # separates digits
    list_of_nums = []
    for i in str(n):
        list_of_nums.append(i)
    first = list_of_nums[-1]
    if first >= 1 and first <= 3:
        # 1 through 4
        numeral = 'I' * first